[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=HabitRPG
Exec=HabitRPG
Name=HabitRPG
# translation example:
# your app name in German locale (de)
Name[de]=HabitRPG

